* {
    font-family: 'feneon';
}

body{
    background: url('./contact_image/contact_background.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.5); /* White background with 80% opacity */
    padding: 20px;
    border-radius: 15px;
}

.navbar-brand  {
    color: black !important; /* Replace #yourColorHere with your desired color */
}

.navbar-brand:hover {
    color: grey !important; /* Replace #yourColorHere with your desired color */
}
    .nav-link{
    color: black !important; /* Replace #yourColorHere with your desired color */
}

.nav-link:hover {
    color: gray !important; /* Replace #yourColorHere with your desired color */
}

.navbar {
    background-color: transparent !important;
    color: white !important;
}
.form-control {
    background-color: rgba(255, 255, 255, 0.5) !important; /* 50% opacity */
}
.container {
    background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    padding: 20px;
    border-radius: 15px;
}

.btn-primary {
    background-color: white;
    border-color: black;
    color: black;
}

.btn-primary:hover {
    background-color: black;
    border-color: transparent;
    color: white;
}

.navbar-light .navbar-toggler-icon {
    color: black;
}